body {
    background-color: bisque;
}

.header {
    font-family: "Oldenburg", serif;
    font-weight: 400;
    font-size:100px;
    font-style: normal;
    background-color: rgba(209, 172, 52, 0.5);
    color:brown;
    text-align: center;
}

.header1 {
    font-family: "Oldenburg", serif;
    font-weight: 400;
    font-size:50px;
    font-style: normal;
    background-color: rgba(209, 172, 52, 0.5);
    color:brown;
    text-align: center;
}


.link {
    font-family: "Oldenburg", serif;
    padding: 5px;
    display: block;
    font-size: 25px;
    background-color: rgba(209, 172, 52, 0.2);
}

.header2 {
    font-family: "Oldenburg", serif;
}

.list,
.para {
    font-size: 20px;
    font-family: "Oldenburg", serif;
}

.recipe_list{
    text-align: center;
    display: block;
}

.link:hover{
    color:blue;
    transition: 1s;
}

.link:visited{
    color:darkblue;
}